@import url(colorZip.css);

.mainlogo {
    width:18rem;
    text-align: center;
    margin-top:8rem;
}
.loginForm {
    width:26rem;
    margin: 0 auto;
    margin-top:2rem;
    border: 1px solid var(--lightgray);
    border-radius: 10px;
    padding:3rem 2rem;
    
}

.loginForm input {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    font-size: var(--semismallfont);
}

.customButtons {
    background: var(--mainGradation);
    color:var(--bs-white);
    border-radius: 50px;
    margin-top: 2rem;
    padding: 0.75rem;

}
.customButtons:hover {
    color:var(--bs-white);
}
.idpwsignin {
    margin-top: 1.5rem;
    text-align: center;
    color: var(--lightgray);
    font-size: var(--smallfont);
}